<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258026855552-cmn7l2accd418q4ai1gks2vgm1s45vld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258026855552-cmn7l2accd418q4ai1gks2vgm1s45vld</string>
	<key>API_KEY</key>
	<string>AIzaSyBaVUQY5AYrzb02z9rNUpxEPpFvD-pwN8E</string>
	<key>GCM_SENDER_ID</key>
	<string>258026855552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nick.TodoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-4c946</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4c946.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:258026855552:ios:134549016fa7924ea79a65</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-4c946.firebaseio.com</string>
</dict>
</plist>
